# Ignore local state files
.terraform/

# Ignore temporary files created by Terraform
.tfstate*
.terraform.lock.hcl

# Ignore compiled state files (useful for deployments)
terraform.tfstate
terraform.tfstate.backup


# Ignore sensitive data
*.pem
*.key
*.crt
*.zip

# Ignore logs and outputs
logs/
outputs/

# Ignore IDE specific files
.idea/

# Ignore VS Code specific files
.vscode/

# Platform specific ignores
**/.terraform.*
